* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background: #ffffff;
}

/*style header h1*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #3a3a3a;
    width: 90%;
    text-align: center;
    margin-top: 2px;

}

hr {
    height: 1px;
    /* Set the height of the line */
    background-color: #3a3a3a;
    margin: 2px auto;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    font-size: 1em;
}

h3 {
    margin-top: 10px;
    font-family: sans-serif;
}

/*navbar style*/
.navigation {
    width: 70%;
    height: 40px;
    text-align: right;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 10px;
    font-size: 10px;

}

.under-line {
    border-bottom: 1px solid #3a3a3a;
}

.navigation>li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

.navigation a {
    text-decoration: none;
    color: #3a3a3a;
}

.navigation a:hover {
    color: rgb(228, 125, 236);
}

/*hero-tennis*/
#hero-tennis {
    background: url(../images/cover.amotion.img.jpg) no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    height: 6rem;
    width: 100%;
    background-position-y: 20%;
}

/*fitness-sport-two style it*/
#fitness {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#fitness-sport {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    font-size: 105%;
    line-height: 1.3em;
    color: #3a3a3a;
    overflow: hidden;
    margin-bottom: 10px;
}

.text {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto auto;
}

.text>p {
    text-align: justify;
    font-family: sans-serif;
}

#fitness-sport>p {
    font-family: arial;
    font-size: 1rem;
}

p>span {
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}


.days {
    display: flex;
    height: 84px;
    width: 100%;
    margin-top: 13px;
    flex-direction: column;
    align-items: center;
}

.days>p {
    width: 98%;
    height: 27px;
    justify-content: center;
    /* display: flex; */
    flex-wrap: wrap;
    border: 1px solid #3a3a3a;
    margin-bottom: 3px;
}

#fitness-sport-two {
    object-fit: scale-down;
    background: url(../images/training-time.jpg) no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    max-height: 9rem;
    width: 100%;
    height: 1000px;
    aspect-ratio: 2 / 1;
    background-position: center;
}


#map-wrapper {
    width: 100%;
    height: 200px;
    margin-top: 8px;

}

#map {
    width: 100%;
    height: 196px;
}

/*contact us page style third page*/
#page-contact {
    background: url(../images/image-contactpage.jpg) no-repeat center center;
    background-size: 100%;
    height: 120px;
    width: 100%;
}

.hidding-text {
    display: none;
}

/*form style*/
.contact-form {
    text-align: center;
    background: rgb(124, 171, 187);
    padding-top: 7px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}

#contact-title {
    text-align: center;
    font-size: 0.8em;
    padding-top: 4px;
}



/*style for fotos*/
#fotos {
    line-height: 0;
}

#fotos>img {
    width: 100%;
    line-height: 1em;
}
/*style for form*/
.box {
    text-align: center;
}

/*input style*/
.ten {
    border-radius: 3px;
    margin-bottom: 6px;
    padding: 2px 3px;
    border: 1px solid #381f1f;

}

/*style for writing text space*/
.textarea {
    width: 90%;
    height: 4em;
    border-radius: 3px;
    border: 1px solid #381f1f;

}

.join-button {
    border-radius: 2px;
    width: 20%;
    margin-top: 4px;
    background: #325832bf;
    color: #fff;
}

.join-button:hover {
    background-color: rgb(201, 157, 225);
}



/*footer*/
footer {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

#social-media {
    text-align: center;
}

#social-media>li {
    font-size: 1.5em;
    display: inline-block;
}

#social-media i {
    padding: 10px;
    color: #3a3a3a;
    text-decoration: none;
}

#social-media i:hover {
    color: rgb(101, 84, 226);
}



/*small size screen from 320px wide and up*/
@media screen and (min-width: 320px) {
    h1 {
        font-size: 2.2em;
        margin-top: 2px;

    }

    .navigation {
        width: 70%;
        text-align: center;
        height: 38px;
        font-size: 13px;
        gap: 2em;
    }

    /*hero-tennis img first page*/
    #hero-tennis {
        height: 8rem;
        
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 5px;
        font-size: 1.2em;
        margin-top: 5px;
    }

    .days>p {
        width: 97%;
        height: 24px;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid #3a3a3a;
    }

    p>span {
        font-size: 1.1em;
        font-weight: bold;
    }

    #fitness-sport-two {
        background-size: 100%;
        max-height: 13rem;
    }

    #contact-title {
        text-align: center;
        font-size: 0.9em;
        padding-top: 4px;
    }

    .ten {
        width: 37%;
    }

    .textarea {
        width: 50%;
        height: 4em;
    }

    footer {
        width: 90%;
        height: 75px;
        margin: 0 auto;
    }

    #social-media {
        text-align: center;
    }

    #social-media>li {
        padding: 5px;
    }

    #page-contact {
        height: 152px;
    }
}

/* media screen from and up*/
@media screen and (min-width: 481px) {
    h1 {
        font-size: 3.2em;


    }

    .navigation {
        height: 10px;
        gap: 2rem;
        justify-content: right;
        padding-left: 8em;

    }


    .navigation>li {
        font-size: 1em;
        line-height: 4px;
    }

    hr {
        height: 1px;
        background-color: #3a3a3a;
        margin: 4px auto;
    }

    #hero-tennis {
        height: 13rem;
    }

    h2 {
        margin-bottom: 9px;
        font-size: 0.9em;
        margin-top: 2px;
    }

    #fitness-sport {
        padding: 20px;
        text-align: center;
        font-size: 1.5em;

    }

    #fitness-sport-two {
        max-height: 20rem;
    }



    #fitness-sport>p {
        font-size: 30px;
        padding: 5px;
        border: 5px;
    }

    .days>p {
        height: 30px;
        width: 80%;
    }

    p>span {
        font-size: 0.8em;
    }

    /*contact us page style for form and botton*/
    .contact-form {
        font-size: 12px;

    }

    .join-button {
        padding: 7px 5px;
        font-size: 1.5em;
    }

    /*gallery page*/
    #fotos {
        column-count: 2;
        column-gap: 0;
    }


    #social-media {
        text-align: center;
        width: 100%;
    }

    #social-media>li {
        font-size: 3em;
        display: inline-block;
        padding: 15px;
    }


    #page-contact {
        height: 233px;
    }

    .ten {
        width: 27%;
    }

    .textarea {
        width: 36%;
    }
}

/*Medium screen size from 768px wide and up ex.smart phone*/
@media screen and (min-width: 768px) {

    /*hero img*/
    h1 {
        text-align: left;
        padding-left: 12px;
    }




    #hero-tennis {
       height: 20rem;
    }

    .navigation {
        margin-top: 10px;
        gap: 2.5rem;
        padding-left: 12em;
        font-size: 1em;


    }

    #fitness-sport {
        line-height: 30px;
    }

    #fitness-sport-two {
        max-height: 32rem;

    }

    #fitness-sport>p {
        font-size: 10px;
    }

    /*fotos page*/
    #contact-title {
        font-size: 1.5em;
    }

    .textarea {
        width: 33%;
    }

    .join-button {
        width: 10%;
    }

    /*gallery page*/
    #fotos {
        column-count: 2;
        column-gap: 0;
    }

    /* Footer Elements */
    #social-media {
        width: 100%;
         justify-content: space-evenly;
            display: flex;
        }

    

    #social-media i {
        font-size: 100%;
        padding: 10px;
    }

    #page-contact {
        height: 368px;
    }

}

/*Medium screen size min-width 992px wide and up*/
@media screen and (min-width: 992px) {
    #hero-tennis {
        height: 27rem;
    }

    h1 {
        font-size: 80px;
    }
    .navigation {
        margin-top: 10px;
        gap: 2.5rem;
        padding-left: 12em;
        font-size: 1em;
        margin-bottom: 1em;
    }

    .navigation>li {
        font-size: 1.5em;
        line-height: 4px;
    }

    h2 {
        font-size: 1.7em;
    }

    .text>p {
        font-size: 1.4em;
        line-height: 42px;
    }

    #fitness-sport-two {
        max-height: 40rem;
    }

    #social-media {
        width: 100%;
        text-align: center;

    }

    .days {
        width: 50%;
        margin: 13px auto;
    }

    p>span {
        font-size: 0.8em;
    }

    /*style for contact page*/
    #page-contact {
        height: 30em;
    }

    #contact-title {
        font-size: 2em;
    }

    .ten {
        width: 18%;
        padding: 8px;

    }

    .contact-form {
        font-size: 18px;
    }

    .textarea {
        padding: 10px;
    }



    #fotos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;

    }

    #fotos img {

        width: 25%;
    }

}

/*Medium screen min-width 1200px wide and up example smart phone*/
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 110px;
    }
    #hero-tennis {
        height: 33rem;
    }

    .navigation {
        height: 2px;
        gap: 4rem;
        font-size: 24px;
    }

    .navigation>li {
        font-size: 1em;
        line-height: 4px;
    }

    #fitness {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding: 0;
    }

    #fitness-sport {
        height: auto;
        width: auto;
        padding: 20px;
        text-align: center;
        font-size: 105%;
        line-height: 22px;

    }

    h2 {
        margin-bottom: 9px;
    }

    .days {
        width: 25%;
        margin: 13px auto;
    }

    /*contact us-page*/
    #contact-title {
        font-size: 2.5em;
    }

    #page-contact {
        height: 36em;
    }
}