* {
    padding: 0;
    border: 0;
    margin: 0;
}

hr {
    height: 1px;
    /* Set the height of the line */
    background-color: black;
}

body {
    background: #E1D8D8;
}

/*style header h1*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #3A3A3A;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    font-size: 1em;
}

h3 {
    margin-top: 10px;
}

/*navbar style*/
.navigation {
    width: 90%;
    height: 40px;
    text-align: right;
    margin: 0 auto;
    z-index: 2;
    justify-content: center;
    display: flex;
    gap: 10px;

}

.navigation>li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

.navigation a {
    text-decoration: none;
    color: #3A3A3A;
}

.navigation a:hover {
    color: rgb(48, 48, 203);
}

/*hero-tennis*/
#hero-tennis {
    background: url(../images/tennis2.jpg) no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    height: 100px;
    width: 100%;
}

/*fitness-sport-two style it*/
#fitness {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#fitness-sport {
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    font-size: 105%;
    line-height: 1.3em;
    color: #3A3A3A;
    overflow: hidden;
    margin-bottom: 10px;
}

.text {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto auto;
}

#fitness-sport>p {
    font-family: arial;
    font-size: 1rem;
}

p>span {
    font-size: 1.2em;
    font-weight: bold;
}

.days {
    display: flex;
    height: 84px;
    width: 100%;
    margin-top: 13px;
    flex-direction: column;
    align-items: center;
}

.days>p {
    width: 98%;
    height: 27px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #3a3a3a;
    margin-bottom: 3px;
}

#fitness-sport-two {
    background: url(../images/p1.webp) no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    height: 155px;
    width: 100%;
    margin-bottom: 1%;
}

#map-wrapper {
    width: 100%;
    height: 200px;
}
#map {
    width: 100%;
    height: 196px;
}

/*contact page style*/
#page-contact {
    background: url(../images/p5.jpg) no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

/*form style*/
#contact-form {
    text-align: center;
    margin-top: 10px;
}

/*style for fotos*/
#fotos {
    overflow: hidden;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#fotos>img {
    background-position: center;
    background-repeat: no-repeat;
}

/*input style*/
.ten {
    border-radius: 3px;
    margin-bottom: 5px;
}

/*footer*/
footer {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

#social-media {
    text-align: center;
}

#social-media > li {
    font-size: 1.5em;
    display: inline-block;
}

#social-media i {
    padding: 13px;
    color: #3A3A3A;
    text-decoration: none;
}

#social-media i:hover {
    color: rgb(100, 80, 255);
}



/*Medium screen min-width 1200px wide and down exmple smart phone*/
@media screen and (min-width: 1200px) {
    #fitness {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding: 0;
    }

    #fitness-sport {
        height: auto;
        width: auto;
        padding: 20px;
        text-align: center;
        font-size: 105%;
        line-height: 22px;

    }
}

/*Medium screen size min-widht 950px wide and down*/
@media screen and (min-width: 950px) {
    #hero-tennis {
        width: 100%;
        height: 600px;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 120px;
        color: #3A3A3A;
        margin-top: 5%;
        margin-left: 25%;
        width: 100%;
        text-align: center;
    }

    .navigation {
        width: 100%;
        height: 75px;
        text-align: right;
        margin: 0 auto;
        font-size: 25px;
    }

    #fitness {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    #social-media {
        width: 100%;
        text-align: center;
        margin-left: 40px;
    }
}

/*Medium screen size from 800px wide and down ex.smart phone*/
@media screen and (min-width:800px) {
    .navigation {
        width: 100%;
        text-align: center;
        height: 55px;
        font-size: 22px;
    }

    .navigation>li {
        font-size: 100%;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 120px;
        color: #3A3A3A;
        margin-top: 5%;
        margin-left: 45%;
        width: 160%;
    }

    /*hero img*/
    #hero-tennis {
        width: 100%;
        height: 500px;
    }

    #fitness {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding: 0;
    }

    #fitness-sport {
        height: auto;
        width: 100%;
        padding: 35px;
        text-align: center;
        font-size: 2em;
        line-height: 22px;

        margin: 5px;
    }

    #fitness-sport>p {
        font-size: 10px;
    }

    #fitness-sport-two img {
        width: 100%;
        height: 600px;
    }

    /* Footer Elements */
    #social-media {
        width: 100%;
        margin-left: 10%;
    }

    #social-media i {
        font-size: 100%;
        padding: 10px;
    }
}

/**/
@media screen and (min-width: 600px) {
    nav {
        padding: 10px;
    }

    .navigation {
        width: 100%;
        text-align: center;
        height: 45px;
        margin-left: 15%;
    }

    .navigation>li {
        font-size: 100%;
        line-height: 4px;
    }

    #hero-tennis {
        width: 100%;
        height: 700px;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 120px;
        color: #3A3A3A;
        margin-top: 5%;
        margin-left: 15%;
        width: 100%;
        text-align: center;
    }

    #fitness-sport {
        height: auto;
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 2em;
        line-height: 30px;

        margin: 0;
    }

    #fitness-sport>p {
        font-size: 30px;
        padding: 5px;
        border: 5px;
    }

    #fitness-sport-two img {
        width: 100%;
        height: 650px;
    }

    #social-media {
        text-align: center;
        width: 100%;
    }

    #social-media i {
        display: flex;
        justify-content: space-evenly;
    }
}

/*small size screen from 320px wide and down*/
@media screen and (min-width: 320px) {

    /*hero-tennis img first page*/
    #hero-tennis {
        height: 125px;
        width: 100%
    }

    footer {
        width: 90%;
        height: 75px;
        margin: 0 auto;
    }

    #social-media {
        text-align: center;
    }

    #social-media> {
        padding: 15px;
    }

    .navigation {
        width: 100%;
        text-align: center;
        height: 38px;
        font-size: 13px;
    }

    #fitness-sport-two img {
        width: 100%;
        height: 450px;
    }

    .days>p {
        width: 97%;
        height: 24px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #3a3a3a;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.2em;
        color: #3A3A3A;
        width: 100%;
        text-align: center;
        margin-top: 2%;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 5px;
        font-size: 1.2em;
        margin-top: 5px;
    }
    p>span {
        font-size: 1.1em;
        font-weight: bold;
    }

}